snippet th
	$this->${1}
snippet $
	$${1:obj}->${2:msg}
snippet try
	try {
		${3}
	} catch (${1:Exception} $ex) {
		${2}
	}
snippet trans
	<?php print $this->translate('${1}'); ?>
snippet update_ret
	$ret[] = array('success' => TRUE, 'query' => '${1:instant success!}');
	return $ret;
