snippet section "section"
=== $1 ===
%% {{{
$0
%% }}}
endsnippet

snippet t "task"
* [ ] $0 [`!v strftime("%Y-%m-%d")`]
endsnippet

snippet l "list"
    * 
endsnippet

snippet - "line" b
----------------------------------------------------------------------------------------------------

endsnippet

snippet n "note"
### `!v strftime("%Y-%m-%d %H:%M")` $0

----------------------------------------------------------------------------------------------------
endsnippet
