[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/rooter"]
	path = bundle/rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = git://github.com/vim-scripts/phpcomplete.vim.git
[submodule "bundle/autocomplpop"]
	path = bundle/autocomplpop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "bundle/aftercolors"]
	path = bundle/aftercolors
	url = git://github.com/vim-scripts/AfterColors.vim.git
[submodule "bundle/sessionman"]
	path = bundle/sessionman
	url = git://github.com/vim-scripts/sessionman.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/mark"]
	path = bundle/mark
	url = git://github.com/vim-scripts/Mark--Karkat.git
[submodule "bundle/autotag"]
	path = bundle/autotag
	url = git://github.com/vim-scripts/AutoTag.git
[submodule "bundle/php-syntax"]
	path = bundle/php-syntax
	url = git://github.com/vim-scripts/php.vim--Hodge.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "bundle/colorizer"]
	path = bundle/colorizer
	url = git://github.com/lilydjwg/colorizer.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "snippets/snipmate-snippets"]
	path = snippets/snipmate-snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/quickfixsigns"]
	path = bundle/quickfixsigns
	url = git://github.com/tomtom/quickfixsigns_vim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/snipmate-fork"]
	path = bundle/snipmate-fork
	url = git://github.com/teranex/snipmate.vim.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
