[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/mark"]
	path = bundle/mark
	url = git://github.com/vim-scripts/Mark--Karkat.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/quickfixsigns"]
	path = bundle/quickfixsigns
	url = git://github.com/tomtom/quickfixsigns_vim.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = git://github.com/joonty/vdebug.git
[submodule "bundle/sessionman-fork"]
	path = bundle/sessionman-fork
	url = git://github.com/teranex/sessionman.vim.git
[submodule "bundle/ctrlp-filetype"]
	path = bundle/ctrlp-filetype
	url = git://github.com/endel/ctrlp-filetype.vim.git
[submodule "bundle/tslime-fork"]
	path = bundle/tslime-fork
	url = git://github.com/teranex/tslime.vim.git
[submodule "bundle/detectindent"]
	path = bundle/detectindent
	url = git://github.com/ciaranm/detectindent.git
[submodule "bundle/ctrlp-tjump"]
	path = bundle/ctrlp-tjump
	url = git://github.com/ivalkeen/vim-ctrlp-tjump.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/ctrlp-funky"]
	path = bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule "bundle/vim-grepper"]
	path = bundle/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "bundle/minisnip"]
	path = bundle/minisnip
	url = https://github.com/joereynolds/vim-minisnip.git
[submodule "bundle/FastFold"]
	path = bundle/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "bundle/mucomplete"]
	path = bundle/mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule "bundle/vim-cycle"]
	path = bundle/vim-cycle
	url = https://github.com/zef/vim-cycle.git
