snippet section "section"
<section>
    ${1}
</section>
endsnippet

snippet mds "markdown section"
<section data-markdown>
${1}
</section>
endsnippet

snippet html "html5"
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${1:title}</title>
  </head>
  <body>
    ${0}
  </body>
</html>
endsnippet
