snippet th "th"
$this->${1}
endsnippet

snippet $ "$"
$${1:obj}->${2:msg}
endsnippet

snippet dpm "dpm"
dpm($${1:var}, '$1');
endsnippet

snippet notimplemented "notimplemented"
throw new Exception('not implemented');
endsnippet
