snippet todo
	@todo [jbu] 
snippet today
	`strftime("%Y-%m-%d")`
snippet tomorrow
	`strftime("%Y-%m-%d", localtime()+86400)`
snippet monday
	`InsertDateForWeekday(0)`
snippet tuesday
	`InsertDateForWeekday(1)`
snippet wednesday
	`InsertDateForWeekday(2)`
snippet thursday
	`InsertDateForWeekday(3)`
snippet friday
	`InsertDateForWeekday(4)`
snippet saturday
	`InsertDateForWeekday(5)`
snippet sunday
	`InsertDateForWeekday(6)`
