snippet todo
	@todo [jbu] 
snippet today
	`strftime("%Y-%m-%d")`
snippet tomorrow
	`strftime("%Y-%m-%d", localtime()+86400)`
snippet monday
	`InsertDateForDay('monday')`
snippet tuesday
	`InsertDateForDay('tuesday')`
snippet wednesday
	`InsertDateForDay('wednesday')`
snippet thursday
	`InsertDateForDay('thursday')`
snippet friday
	`InsertDateForDay('friday')`
snippet saturday
	`InsertDateForDay('saturday')`
snippet sunday
	`InsertDateForDay('sunday')`
